/*Usando selector placeholder*/

%btn{
    
    /*template de la clase boton*/
    height: 30px;
    width: 55px;
    border: none;
    border-radius: 5px;
    color: $black;
    font-size: 16px;
    margin: 5px 0;
    box-shadow: 2px 2px 6px 2px rgba(255, 255, 255, 0.836);
    &:hover{
        cursor: pointer;
        background-color: $withe;
    }

}

/*Creando la clase btn-primario*/
.#{$marca}-btn-primario{

    @extend %btn;
    background: $orange;

}