
/*Layout Desktop*/

.contenedor {

    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.fa-regular,
.fa-solid {
    font-size: 30px;
}

/*Cartas Columna 1*/
.kari-cartaUno img{
margin: 0px;

}
.carta1 {

    display: grid;
    height: 100vh;
    grid-row-start: 3;
    grid-row-end: 5;
}
.carta2 {
    display: grid;
    height: 100vh;
    grid-row-start: 5;
    grid-row-end: 7;
}

/*Carta Columna 2*/

.carta3 {
    display: grid;

    grid-row-start: 3;
    grid-row-end: 7;
}

.imgWeb {
    width: 350px;
    height: 350px;
}


/*Agregando componentes*/

.item5 div,
h5 {
    margin-right: 25px;
    display: inline;
}

.item5 input {
    width: 100px;
    height: 27px;
    border-radius: 5px;
}

input:focus {
    background-color: orange;
}

/*Animacion SVG*/

#raya {
    animation: raya 10s infinite linear;
}

@keyframes raya {
    0% {
        transform: translateX(200px);
    }

    100% {
        transform: unset;
    }
}

#engranaje {
    animation: girar infinite 2s linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg)
    }

    to {

        transform: rotate(360deg)
    }
}


/*Layout Mobile*/

@media screen and (min-width: 576px) {
    .miHamburguesa {
        display: none;
    }
}

@media screen and (max-width: 576px) {

    body {
        box-sizing: border-box;
    }

    .lista li {
        display: none;
    }

    .miHamburguesa {
        width: 2em;
        height: 2em;
        fill: white;
        margin-top: 16px;
    }

    .miHamburguesa:hover {
        fill: #FFAF6D;
    }


    /*Cartas Columna 1*/

    .carta1 {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 80vh;
    }

    .carta2 {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 80vh;
    }

    /*Carta Columna 2*/

    .carta3 {
        grid-row-start: 7;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 15px;
    }

    .kari-cartaUno__cuerpo .kari-titulo-primario {
        font-size: $x-large;
    }

    .kari-cartaUno__cuerpo p {
        font-size: $large;
        text-align: justify;
    }

    .kari-cartaUno__cuerpo .kari-titulo-secundario {
        font-size: $large;
    }

    .kari-cartaDos__cuerpoDos p {
        margin-left: 15px;
        margin-right: 15px;
        text-align: justify;
    }

    .kari-cartaDos__cuerpoUno h1 {
        font-size: $x-large;
    }

    .kari-cartaUno img {
        width: 100%;
        margin-bottom: 0;
        
    }

    .kari-cartaUno__cuerpo h3 {
        font-size: $medium;
    }

    .kari-cartaDos__cuerpoDos .kari-parrafo{

        margin-top: 15px;
        font-size: $large;

    }

    .kari-cartaDos__cuerpoTres ul >li{

        font-size: $large;
    }
    /*imagen animacion*/
    .imgWeb {
        width: 150px;
        height: 150px;
    }

    .contSvg {
        text-align: center;
    }

    .kari-cartaDos__cuerpoTres li{
        font-size: 25px;
    }

    /*Footer*/

    .footer {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 100%;

    }

    .item4 {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        width: 100%;
        margin-top: 50px;
        font-size: 25px;
    }

    .item5 {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        width: 98%;
        font-size: 20px;
        font-size: 25px;
    }

    .item5 input {
        width: 160px;
    }

    .item5 div,
    h5,
    input {
        display: block;
    }
}