/*Layout Desktop*/

.contenedor {

    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

/*Nav*/
.nav {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #060606;
    padding: 10px;
    /*display: flex;*/
}

.nav>div {
    display: inline block;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    width: 98%;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
    width: 98%;
    color: white;
}

/*Banner*/
.banner {
    grid-column-start: 1;
    grid-column-end: 3;

}

.fa-regular,
.fa-solid {
    font-size: 30px;
}

/*Cartas Columna 1*/

.carta1 {
    display: grid;
    height: 100vh;
    grid-row-start: 3;
    grid-row-end: 5;
}

.carta2 {
    display: grid;
    height: 100vh;
    grid-row-start: 5;
    grid-row-end: 7;
}

/*Carta Columna 2*/

.carta3 {
    display: grid;

    grid-row-start: 3;
    grid-row-end: 7;
}

.imgWeb {
    width: 350px;
    height: 350px;
}

/*Footer*/

.footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #060606;
    height: 65px;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 98%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item5 {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    width: 98%;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Agregando componentes*/

/*nav*/
.nav-logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.lista li {
    display: inline;
    text-align: right;
    margin-left: 15px;
}

/*Banner*/
.banner div {
    width: 95%;
    height: 95vh;
    display: inline;
    text-align: center;
}

.item5 div,
h5 {
    margin-right: 25px;
    display: inline;
}

.item5 input {
    width: 100px;
    height: 27px;
    border-radius: 5px;
}

input:focus {
    background-color: orange;
}

/*Animacion SVG*/

#raya {
    animation: raya 10s infinite linear;
}

@keyframes raya {
    0% {
        transform: translateX(200px);
    }

    100% {
        transform: unset;
    }
}

#engranaje {
    animation: girar infinite 2s linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg)
    }

    to {

        transform: rotate(360deg)
    }
}


/*Layout Mobile*/

@media screen and (min-width: 576px) {
    .miHamburguesa {
        display: none;
    }
}

@media screen and (max-width: 576px) {

    body {
        box-sizing: border-box;
    }

    .lista li {
        display: none;
    }

    .miHamburguesa {
        width: 2em;
        height: 2em;
        fill: white;
        margin-top: 16px;
    }

    .miHamburguesa:hover {
        fill: #FFAF6D;
    }


    /*Cartas Columna 1*/

    .carta1 {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 80vh;
    }

    .carta2 {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 80vh;
    }

    /*Carta Columna 2*/

    .carta3 {
        grid-row-start: 7;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 15px;
    }

    .kari-cartaUno__cuerpo .kari-titulo-primario {
        font-size: 28px;
    }

    .kari-cartaUno__cuerpo p {
        font-size: 22px;
        text-align: justify;
    }

    .kari-cartaUno__cuerpo .kari-titulo-secundario {
        font-size: 20px;
    }

    .kari-cartaDos__cuerpoDos p {
        margin-left: 15px;
        margin-right: 15px;
        text-align: justify;
    }

    .kari-cartaDos__cuerpoUno h1 {
        font-size: 22px;
    }

    .kari-cartaUno img {
        width: 100%;
    }

    .kari-cartaUno__cuerpo img {
        width: 20px;
        height: 20px;
    }

    .kari-cartaUno__cuerpo h3 {
        font-size: 15px;
    }

    .imgWeb {
        width: 150px;
        height: 150px;
    }

    .contSvg {
        text-align: center;
    }

    .kari-cartaDos__cuerpoTres li{
        font-size: 25px;
    }

    /*Footer*/

    .footer {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 100%;

    }

    .item4 {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        width: 100%;
        margin-top: 50px;
        font-size: 25px;
    }

    .item5 {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        width: 98%;
        font-size: 20px;
        font-size: 25px;
    }

    .item5 input {
        width: 160px;
    }

    .item5 div,
    h5,
    input {
        display: block;
    }
}